.container{
    position: relative;
    width: 100%;
    height: 95vh;

}
.name{
    font-size: 11px;
    font-weight: bolder;
}
.wrapper{
    width: 310px;
    height: 12px;
    background-color: #e8e8e8;
    border-radius: 4px;
    .skill-level{
        height: 12px;
        border-radius: 4px;

    }
}


.btn-none{
    border: none;
    background-color: transparent;
    outline: none;
}

.skill-input{
    border: 1px solid #FFC400; 
    outline: none;  
    height: 42px; 
    width: 85%;
    display: block;

}

.result{
    position: absolute;
    left: 0;
    border-radius: 0;
    margin-left: 16px;
    border-top: none;
    width: 220px;
    height: 230px;
    z-index: 8;
    overflow-y: auto;

}
.result-item{
    transition: background-color .5s;
    &:hover{
        background-color: #F4F4F4;
    }
}

.skills{
    max-height: 300px;
    overflow-y: scroll;
}
.delete{
    cursor: pointer;
    opacity: .6;
}