<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>pro-cv</title>

  </head>

  <body>

    <div class="template">

      <table class="w-100">

        <tr class="w-100">

          <td style="width: 28%">

            <div class="side">

              <div class="avatar-name">

                <div class="avatar"></div>

                <p class="name">

                  Prenom <br />Nom <br />

                  <span class="jobName">Poste occupe</span>

                </p>

              </div>


              <div class="profil educations">

                <h3 class="education-item ">PROFIL</h3>

                  

                <p>

                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est

                  quae esse nulla odit libero nisi enim eius, corporis corrupti

                  numquam. Velit iste labore placeat nisi facilis illo aliquid.

                  Blanditiis animi iure ipsam aliquid reprehenderit molestias!

                </p>

              </div>


              <div class="profil educations">

                <h3 class="education-item">COMPETENCES</h3>

                <div>

                    JAVA

                  <div class="skill-level"></div> 

                  <div class="skill-level"></div>

                </div>

                <div>

                    Angular

                  <div class="skill-level"></div> 

                  <div class="skill-level"></div>

                </div>

                <div>

                    Java-script

                  <div class="skill-level"></div> 

                  <div class="skill-level"></div>

                </div>

              </div>


              <div class="profil educations">

                <h3 class="education-item">LANGUES</h3>

                <div>

                    francais

                  <div class="skill-level"></div> 

                  <div class="skill-level"></div>

                </div>

                <div>

                    anglais

                  <div class="skill-level"></div> 

                  <div class="skill-level"></div>

                </div>

                <p>

                    wolof

                  <div class="skill-level"></div> 

                  <div class="skill-level"></div>

                </div>

              </div>


              <div class="profil educations">

                <h3 class="education-item">INTERET</h3>

                <p>FOOT BALL</p>

                <p>LECTURE</p>

                <p>DOCUMENTAIRE</p>

              </div>

               <div class="end"></div>


          </td>

            

           <td style="width: 2%;">

            <div class="ligne-verticale">

                <div class="point"></div>

                <div class="point"></div>

                <div class="point"></div>

              </div>

           </td>


          <td style="width: 70%">

            <div class="body">

              <div class="cordonne">

                 <div class="cordonne-item">

                    <p class="p-cord"><span class="icon"></span>15/01/1998</p>

                    <p class="p-cord"><span class="icon"></span>DAKAR</p>

                    <p class="p-cord"><span class="icon"></span>fallousenghor@gmail.com</p>

                    <p class="p-cord"><span class="icon"></span>782463262/782463262</p>

                 </div>

              </div>

              <div class="formations">

                 <div class="educations">

                     <h3 class="title">FORMATIONS</h3>

                     <div class="wrapper"></div>

                    <div class="education-item">

                       <h5>2023 BFEM</h5>


                    </div>

                    <div class="education-item">

                      <h5>2023 BFEM</h5>

                      

                   </div>

                   <div class="education-item">

                    <h5>2023 BFEM</h5>

                    

                 </div>

                 <div class="education-item">

                  <h5>2023 BFEM</h5>

                  

               </div>

                 </div>

                  

                 <div class="experiences">

                  <h3 class="title">Experiences professionnelle</h3>

                  <div class="wrapper"></div>

                   <div class="experience-item">

                      <h5>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h5>

                   </div>


                   <div class="experience-item">

                    <h5>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h5>

                 </div>


                 <div class="experience-item">

                  <h5>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h5>

               </div>


               <div class="experience-item">

                <h5>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h5>

             </div>

             <div class="experience-item">

              <h5>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h5>

           </div>


                 </div>


              </div>

              <div class="end-b"></div>

           </div>

          </td>

        </tr>

      </table>

    </div>

  </body>

</html>