.template{
    height: 560px;
    width: 470px;
    background-color: #FFFFFF;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.side{
    width: 160px;
    height: 560px;
   // background-color: #212027;
}
.profestion{
    text-align: center;
   // background-color: #FFC400;
    text-transform: uppercase;
    .name{
        font-size: 18px;
        font-weight: 700;
        color: #212027;

    }
    .job-title{
        font-size: 13px;
        font-weight: 500;
    }

}
.coord{
    color: #FFFFFF;
    font-size: 10px;
}
.avatar{
    background-color: #000000;
    width: 130px !important;
    height: 130px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}

.experiences{
    line-height: 12.5px;
    font-size: 10px;
    h3{
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
    }

}
.title{
    text-transform: uppercase;
    font-size: 10px;
    color: #FFFFFF;
    font-size: 600;
    margin-top: -4px;
}
.wrapper{
    width: 145px;
    height: 3px;
    background-color: #e8e8e8;
    margin-top: -2px;
    border-radius: 0;
    .skill-level{
        height: 3px;
       

    }
}
