/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.bubble.css'; 
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body{
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F4F4F4F4;

}

input, select{
   border-radius: 0 !important; 
   color: #5c5c5c !important;
}

.form-label{
    font-weight: 500 !important;
}

.btn{
    font-size: 16px !important;
    font-weight: 600 !important;
    width: 150px !important;
    height: 45px !important;
    border-radius: 0 !important;
}